@media only screen and (min-width: 600px) and (max-width: 992px) {
    .bulb{
        display: none;
    }

    #introduction{
        font-size: 3vh;
    }

    #about{
        font-size: 8vh;
        left: 3vh;
    }

    #welcome{
        font-size: 2.5vh;
    }

    .tab-show{
        display: block;
    }

  }